.event {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5), -2px -2px 2px rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 600px;
}

.event img {
  width: 400px;
  height: 400px;
  padding: 1em;
  text-align: center;
  margin: auto;
}

.event h4 {
  font-size: 1.5em;
  margin: 10px;
}

.event a {
  color: #65eb53;
  margin: 10px;
  transition: all 0.09s ease-in;
}

.event a:hover {
  font-weight: bolder;
  font-size: 20px;
  margin: 10px;
}

.event h5 {
  font-size: 1.2em;
  text-align: center;
  margin: 10px;
  color: rgb(179, 7, 179);
}

@media (max-width: 450px) {
  .event img {
    width: 300px;
    height: 300px;
  }

  .event {
    width: 350px;
    height: 500px;
  }
}

@media (max-width: 300px) {
  .event img {
    width: 220px;
    height: 220px;
  }

  .event {
    width: 250px;
    height: 450px;
  }
}
