.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}

.home_element {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-bottom: 2px gray solid;
}

.home_element a {
  color: #65eb4d;
  font-size: 1.4em;
  text-decoration: none;
  transition: all 0.15s ease-in;
}

.home_element a:hover {
  color: #147a04;
  text-shadow: 1px solid green;
}

.home_component {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 1em;
  padding: 1em;
}

.home_component h5 {
  font-size: 1.3em;
}

.home_container img {
  width: 400px;
  height: 400px;
}

@media (max-width: 450px) {
  .home_container img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 300px) {
  .home_container img {
    width: 250px;
    height: 250px;
  }
}
