.interested {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.buttons button {
  padding: 10px 30px;
  background-color: lawngreen;
  border: none;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .ex {
  background-color: lightgray;
  border: 2px solid lawngreen;
}

.interested_event {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em;
  gap: 30px;
}

.going_event {
  position: relative;
}

.going_event .buy {
  text-decoration: none;
  color: darkgreen;
  background-color: lawngreen;
  padding: 10px 30px;
  z-index: 2;
  font-weight: 800;
  position: absolute;
  top: 460px;
}

.event.expired::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (max-width: 450px) {
  .going_event .buy {
    top: 380px;
    padding: 8px 20px;
  }
}

@media (max-width: 300px) {
  .going_event .buy {
    top: 340px;
    padding: 5px 20px;
  }
}
